<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" type="image/jpg" href="images/tractor.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.7/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/2e42802b2c.js" crossorigin="anonymous"></script>
    
    <title>Farm share</title>
</head>
<body>
   <div class="nav"> 
       <a href="/"> <img src="images/farmshare2.png" alt="" class="logo"><img src="images/download.png" alt="" class="logo"></a>
       <a href="/" class="anchor">Home</a>
       <a href="#about" class="anchor">About</a>
       <a href="#" class="anchor">Contact</a>
       <a href="blog" class="anchor">Community</a>
   </div>

            <% if(locals.isLoggedIn){%>
                <p class="username"><%= locals.username%>, <span class="logout"><a href="/logout">Logout</a></span> </p>
            <%}%>
           
        </nav>
        
    </header>