<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" type="image/jpg" href="images/tractor.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.7/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/2e42802b2c.js" crossorigin="anonymous"></script>
    
    <title>Farm share</title>
</head>
<body>
   <div class="nav"> 
       <a href="/"> <img src="images/farmshare2.png" alt="" class="logo"><img src="images/download.png" alt="" class="logo"></a>
       <a href="#" class="anchor">Home</a>
       <a href="#about" class="anchor">About</a>
       <a href="#" class="anchor">Contact</a>
       <a href="blog" class="anchor">Community</a>
   </div>

   <div class="spacer"></div>

   <div class="banner">
       <div class="banner-left">
           <p>
                “In a time where consumers are truly curious about where their 
                food comes from, farmers have a massive opportunity to reach 
                those who truly are a thousand miles from the farms. “ 
            </p>
        </div>
       <div class="banner-right"><img src="images/banner-img.png" alt=""></div>
  
   </div>
   <div id="about">
       <h2 class="heading">Our Story</h2>

       <p>
        Kenya Ltd is an SME that employs social enterprise approaches to develop
        sustainable and integrated cluster-based agricultural value chains to improve 
        livelihoods and socioeconomic empowerment of smallholder farmers, youth 
        and women in the rural areas. Farm Share’s vision is socioeconomically 
        empowered smallholder farmers, youth and women enjoying improved
        livelihoods through sustainable and inclusive agribusiness. 
        </p> 
        <button>Read more</button>
   </div>
   <hr/>
   <div><h4 class="heading">Testimonials</h4></div>
   <div class="testimonials">
      <figure class="figure">
        <img src="images/farmer.jpg" alt="Trulli" >
        <figcaption> “Having last season’s imagery is the only way I could have identified the  problem.
            Now I can avoid the same problem every year in the future. FarmShare just saved me Ksh16,000! “ <br><br>
              ~ Eugene Ndigwa, director Faulu Farms. </figcaption>
      </figure>

      <figure class="figure">
        <img src="images/farmer.jpg" alt="Trulli" >
        <figcaption> “Having last season’s imagery is the only way I could have identified the  problem.
            Now I can avoid the same problem every year in the future. FarmShare just saved me Ksh16,000! “ <br><br>
              ~ Eugene Ndigwa, director Faulu Farms. </figcaption>
      </figure>

      <figure class="figure">
        <img src="images/farmer.jpg" alt="Trulli" >
        <figcaption> “Having last season’s imagery is the only way I could have identified the  problem.
             Now I can avoid the same problem every year in the future. FarmShare just saved me Ksh16,000! “ <br><br>
               ~ Eugene Ndigwa, director Faulu Farms.</figcaption>
      </figure>
   </div>

   <div class="footer-top">
       <div>
           <h4 class="heading">Farm Share</h4>
           <p>
               Farm Share works with smallholder farmers organized into groups along the Planning and Preparation, Production,
               Aggregation stages of the value chain to streamline production aspects of the value chain and ensure farmers have adequate capacity required at these stages.
           </p>
       </div>
       <div class="footer-center">
           <h4 class="heading">Information</h4>
           <a href="" class="anchor-footer"> Home </a>
           <a href="" class="anchor-footer"> About </a>
           <a href="" class="anchor-footer"> Community </a>
           <a href="" class="anchor-footer"> Blog </a>
        </div>
       <div class="footer-right">
           <h4 >Have questions?</h4>
           <p><i class="fas fa-map-marker"></i> Kiambu, Kenya</p>
           <br/>
           <p><i class="fas fa-phone-alt"></i> +254721518182</p>
           <br/>
           <p><i class="far fa-envelope"></i> ndigwa04@gmail.com</p>
           
       </div>
   </div>
   <div class="footer-bottom"> FarmShare &copy; 2021 All rights reserved</div>
</body>
</html>