*{
    padding: 0;
    margin: 0; 
    /* background-color: #ffffff;  */
}

.nav {
    margin-top: 15px;
    background-color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    height: 45px;
    width: 65px;
    margin-top: 7px;
    
}

.anchor {
    text-decoration: none;
    color:#436A2D;
}

.spacer {
    /* background-color: cyan; */
    height:100px;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
    margin-bottom: 35px;
}

.banner-left {
    display: flex;
    padding: 8% 5%;
    /* align-items: center; */
    /* justify-content: center; */
}

.banner-right{
    display: flex;
    align-items: center;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.heading{
    text-align: center;
    margin: 20px;
}

button{
    display: block;
    margin: auto;
    background-color: #436A2D;
    color: cyan;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.testimonials{
    padding: 10px 8%;
    display: flex;
    text-align: center;
}

.testimonials img{
    width: 60%;
    height: auto;
}

.figure{
    width: 60%;
    padding: 15px;
}

.footer-top{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #615F62;
    color: cyan;
    padding: 15px 10%;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anchor-footer{
    text-decoration: none;
    color: #ffffff;
}
.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-between;
    margin: 19px;
}

.footer-right h4{
    margin-bottom: 15px;
}

.footer-bottom{
    display: flex;
    background-color: #436A2D;
    justify-content: center;
    align-items: center;
    color: cyan;
    height: 30px;
}


